#menulist li{
  list-style-type: none;
  float: left;
  width: 150px;
  padding: 10px;
  color: white;
  font-family: arial;
 
}

#menulist{
  margin-top: 20px;
  margin-left: 500px;
}
a{
  text-decoration: none;
  color: white;
}



#homearea{
  overflow: hidden;
  background-color: rgb(255, 253, 253);
}

.feedback {
  width: 800px;
  min-height: 100px;
  background-color: rgb(195, 196, 196);
  color: rgb(41, 41, 54);
  font-family: arial;
  padding: 15px;
  margin: 20px;

}

.feedback h3{
  color: rgb(3, 3, 55);
}